{% extends 'events/base.html' %}

{% block content %}

<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Model Event Page</title>
    <link rel="stylesheet" href="new_eventpage.css">
  </head>
<body> -->
      <div class="topnav" id="myTopnav">
      <a href="{% url 'post_detail_detail' pk=post.pk %}">EVENT DETAILS</a>
      <a href="#about">RESERVE SPOTS</a>
      <a href="#contact">CONTACT</a>
      <a href="{% url 'index' %}" style="float:right;">Catalyze</a>
    </div>
    <p id="demo"></p>

    <!-- <script type="text/javascript">
    // Set the date we're counting down to
    var countDownDate = new Date("Jan 5, 2018 15:37:25").getTime();

    // Update the count down every 1 second
    var x = setInterval(function() {

      // Get todays date and time
      var now = new Date().getTime();

      // Find the distance between now an the count down date
      var distance = countDownDate - now;

      // Time calculations for days, hours, minutes and seconds
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);


      // Display the result in the element with id="demo"

      // If the count down is finished, write some text
      if (distance < 0) {
        clearInterval(x);
        document.getElementById("demo").innerHTML = "EXPIRED";
      }
      return{
        "days":days,
        "hours": hours,
        "minutes": minutes,
        "seconds": seconds
      };
    }, 1000); -->
    <h1>Countdown Clock</h1>
<div id="clockdiv">
  <div>
    <span class="days"></span>
    <div class="smalltext">Days</div>
  </div>
  <div>
    <span class="hours"></span>
    <div class="smalltext">Hours</div>
  </div>
  <div>
    <span class="minutes"></span>
    <div class="smalltext">Minutes</div>
  </div>
  <div>
    <span class="seconds"></span>
    <div class="smalltext">Seconds</div>
  </div>
</div>

    <script>

    function getTimeRemaining(countDownDate) {
  var distance = Date.parse(countDownDate) - Date.parse(new Date());
  // var now = new Date().getTime();
  // var distance = countDownDate - now;
  var seconds = Math.floor((distance / 1000) % 60);
  var minutes = Math.floor((distance / 1000 / 60) % 60);
  var hours = Math.floor((distance / (1000 * 60 * 60)) % 24);
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  return {
    'total': distance,
    'days': days,
    'hours': hours,
    'minutes': minutes,
    'seconds': seconds
  };
}

function initializeClock(id, distance) {
  var clock = document.getElementById(id);
  var daysSpan = clock.querySelector('.days');
  var hoursSpan = clock.querySelector('.hours');
  var minutesSpan = clock.querySelector('.minutes');
  var secondsSpan = clock.querySelector('.seconds');

  function updateClock() {
    var t = getTimeRemaining(distance);

    daysSpan.innerHTML = t.days;
    hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
    minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
    secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

    if (t.total <= 0) {
      clearInterval(timeinterval);
    }
  }

  updateClock();
  var timeinterval = setInterval(updateClock, 1000);
}
var countDownDate = new Date("{{ post.start_date_and_time }}");
initializeClock('clockdiv', countDownDate);
    </script>
    <table style="width:100%">
  <tr>
    <td>

    </td>

    <th>{{ post.last_name }}</th>
  </tr>
</table>
    <div class="image-wrapper">
      <!-- <img class="bg" src="http://i.imgur.com/QNWXZ7N.jpg"/> -->
      <img src = "{{ post.image.url }}"/>
       <h2>{{ post.title }}</h2>
    </div>
    <link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
    <!-- Display the countdown timer in an element -->
<!-- </html> -->

{% endblock %}
