{% extends 'events/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="pencil-square-o" style="color: black;"></span></a>
        <h1>{{ post.title }}</h1>
        <div>
          <img src="{{ post.image.url }}">
        </div>
        <h2>Cause/purpose: {{ post.cause }}</h2>
        <h3>Created by {{ post.first_name }} {{ post.last_name }}</h3>
        <p><b>Where?</p></b>
        <p>{{ post.name_of_place }}</p>
        <p>{{ post.street_address }}</p>
        <p>{{ post.city }}, {{ post.state }} {{ post.zip_code }}</p>
        <p><b>When?</p></b>
        <p>{{ post.start_date_and_time }} to {{ post.end_date_and_time }}</p>

        <p><b>About</p></b>
        <p>{{ post.description|linebreaksbr }}</p>

        <p><b>Contact</p></b>
        <p>email: {{ post.email }}</p>
        <p>phone: {{ post.phone }}</p>
    </div>
{% endblock %}
