{% extends 'events/base.html' %}
{% block content %}
    {% for post in posts %}
    <!-- <div class="row">
<div class="column"> -->
<!-- <table>
  <tr>
    <td> -->
<div class="card">
  <div class="post">
  <img src="http://i.imgur.com/kYJz6hS.jpg" alt="Love" style="width:100%">
  <div class="container">
    <div class="date">
            {{ post.published_date }}
    </div>
    <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
    <!--h2>Cause/purpose: {{ post.cause }}</h2-->
    <p class="title">{{ post.start_date_time }} to {{ post.end_date_and_time }}</p>
    <p>{{ post.name_of_place }}</p>
    <p>   {{ post.street_address }}</p>
    <div style="margin: 24px 0;">
      <a href="#"><i class="fa fa-bookmark-o"></i></a>
      <a href="#"><i class="fa fa-calendar-check-o"></i></a>
      <a href="#"><i class="fa fa-share"></i></a>
      <a href="#"><i class="fa fa-facebook"></i></a>
    </div>
    <!--p>About</p>
        <p>{{ post.description|linebreaksbr }}</p-->
    <p><button>Going</button></p>
    <p><button>Interested</button></p>
    <!--h3>Created by {{ post.first_name|linebreaksbr }}</h3>
    <p>Contact</p>
        <p>email: {{ post.email }}</p>
        <p>phone: {{ post.phone }}</p-->
  <!-- </div>
  </div> -->
</div>
</div>
        </div>
        
    <!-- </td>
  </tr>
</table> -->
    {% endfor %}
{% endblock %}
