{% extends 'events/base.html' %}

{% block content %}
    <!-- <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="pencil-square-o" style="color: black;"></span></a>
        <h1>{{ post.title }}</h1>
        <div>
          <img src="{{ post.image.url }}">
        </div>
        <h2>Cause/purpose: {{ post.cause }}</h2>
        <h3>Created by {{ post.first_name }} {{ post.last_name }}</h3>
        <p><b>Where?</p></b>
        <p>{{ post.name_of_place }}</p>
        <p>{{ post.street_address }}</p>
        <p>{{ post.city }}, {{ post.state }} {{ post.zip_code }}</p>
        <p><b>When?</p></b>
        <p>{{ post.start_date_and_time }} to {{ post.end_date_and_time }}</p>

        <p><b>About</p></b>
        <p>{{ post.description|linebreaksbr }}</p>

        <p><b>Contact</p></b>
        <p>email: {{ post.email }}</p>
        <p>phone: {{ post.phone }}</p>
    </div> -->


      <div class="topnav" id="myTopnav">
      <a href="{% url 'post_detail_detail' pk=post.pk %}">EVENT DETAILS</a>
      <a href="#about">RESERVE SPOTS</a>
      <a href="#contact">CONTACT</a>
      <a href="https://catalyze.pythonanywhere.com" style="float:right;">Catalyze</a>
    </div>
    <table style="width:100%">
  <tr>
    <th>{{ post.first_name }}</th>
    <th>{{ post.last_name }}</th>
  </tr>
</table>
    <div class="image-wrapper">
      <!-- <img class="bg" src="http://i.imgur.com/QNWXZ7N.jpg"/> -->
      <img src = "http://i.imgur.com/QNWXZ7N.jpg"/>
       <h2>Sample Event</h2>
    </div>
    <link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
    <!-- Display the countdown timer in an element -->
<p id="demo"></p>

<script>
// Set the date we're counting down to
var countDownDate = new Date("Jan 5, 2018 15:37:25").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get todays date and time
  var now = new Date().getTime();

  // Find the distance between now an the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in the element with id="demo"
  document.getElementById("demo").innerHTML = days + "d " + hours + "h "
  + minutes + "m " + seconds + "s ";

  // If the count down is finished, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "EXPIRED";
  }
}, 1000);
</script>



{% endblock %}
